

/* styling navbars*/
 /* Navigation Bar styles */
 .Na_Bar{
    margin-top: 50px;
    font-size: larger;
    font-weight: bolder;
    
}

.Na_Bar li{
    display: inline;
    margin: 20px;
}

.Na_Bar li a{
    text-decoration: none;
    color: red;
}


 #Reg_div h1{
    color: red;
}


/* label styles*/


label{
    color: red;
    font-weight: bolder;
    font-size: medium;
}









body {

    background: linear-gradient(to right, skyblue, yellow);
}




/* styling form.html file*/




#Reg_div{
    text-align: center;
    max-height: fit-content;
    width: auto;
    max-width: fit-content;
    
    border-color: aquamarine;
    background-color: aquamarine;
    position:relative;
    left:550px;
    top: 60px;

}

button{
    padding: 10px;
    border-radius: 70px ;
    border-color: white;
    color:red;
    font-size: larger;
    font-weight: bolder;
}




/*
input {
    border: 4px solid navy;
    border-top-style: hidden;
    border-top-style: outset;
    border-top-color: bisque;
    border-left-color: brown;
    border-right-color: tomato;
    border-bottom-color: teal;
}

h1 {
    color: yellowgreen;
}

Sub {
    color: rgb(159, 103, 103);
}

.name {

    color: antiquewhite;
    border-style: dotted;
    border-radius: 5px;
    border-color: blue;
    padding: 5PX;

}

.pass {

    color: aquamarine;
    border-style: dashed;
    border-color: brown;
    border-radius: 5px;
    padding: 5px;

}

.phone {
    border-color: tomato;
    border-style: groove;
    border-radius:10px;
    color: cornsilk;
    border-radius: 5%;

}

.date {
    border-style: inset;
    border-color: black;
    border-radius: 5%;
    color: cadetblue;

}

.time {
    color: cyan;
border-style: double;
border-color: slateblue;
border-radius: 100px;
padding: 5px;
}


.nationality {
    border-style: ridge;
    border-color: chartreuse;
    color: yellowgreen;

}

.gender {
    border-style: dashed;
    border-color: black;
    color: violet;

}

   

.upload {
    border-style: double;
    border-color:blanchedalmond ;
    color: rgb(135, 39, 39);

}

.p1{
    border-style: dotted;
    border-color: violet;
}

#submit {
    border-style: ridge;
border-radius: 30px;
    background-color: blueviolet;
}

h2 {
    color: darkkhaki;
}

.aboutme{
    border-style: dotted;
    border-color: aqua;
}
  */



  body {
    background-color: #bdc3c7;
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    text-align: center;
    position: relative;
    bottom: 41px;
    color: rgb(5, 66, 152);
    font-size: 59px;
    font-family: monospace;
}

.bb{
    font-size: 30px;
    color:  cornflowerblue;
}


 table{
    margin-top: 0px;
    margin-bottom: opx;
    margin-left: auto;
    margin-right: auto;
    border-color: aqua;
    text-align: center;
    height: 200px;
 }


