

/* styling navbars*/
 /* Navigation Bar styles */
 .Na_Bar{
    margin-top: 50px;
    font-size: larger;
    font-weight: bolder;
    height: 30px;
    
}

.Na_Bar li{
    display: inline;
    margin: 20px;
}

.Na_Bar li a{
    text-decoration: none;
    color: red;
}


 #Reg_div h1{
    color: red;
}


/* label styles*/


label{
    color: red;
    font-weight: bolder;
    font-size: medium;
}






/*body style*/


body {

    background: linear-gradient(to right, skyblue, yellow);
}




/* styling form.html file*/




#Reg_div{
    text-align: center;
    max-height: fit-content;
    width: auto;
    max-width: fit-content;
    
    border-color: aquamarine;
    background-color: aquamarine;
    position:relative;
    left:550px;
    top: 60px;

}

button{
    padding: 10px;
    border-radius: 60px ;
    border-color: white;
    color:red;
    font-size: larger;
    font-weight: bolder;
}



  body {
    background-color: #bdc3c7;
    background-size: cover;
    background-attachment: fixed;
}

#wel_head {
    text-align: center;
    position: relative;
    bottom: 41px;
    color: rgb(5, 66, 152);
    font-size: 59px;
    font-family: monospace;
}


.bb{
    font-size: 30px;
    color:  cornflowerblue;
    text-align: center;
}


 table{
    margin-top: 0px;
    margin-bottom: opx;
    margin-left: auto;
    margin-right: auto;
    border-color: aqua;
    text-align: center;
    height: 200px;
 }


