body {
    background-color: #bdc3c7;
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    text-align: center;
    position: relative;
    bottom: 41px;
    color: rgb(5, 66, 152);
    font-size: 59px;
    font-family: monospace;
}

.bb{
    font-size: 30px;
    color:  cornflowerblue;
}


 table{
    margin-top: 0px;
    margin-bottom: opx;
    margin-left: auto;
    margin-right: auto;
    border-color: aqua;
    text-align: center;
    height: 200px;

 }























